<section>
    <label>
        Model
    </label>


    <input ng-model="table" name="table" />
</section>
<section>
    <label>
        PrimaryKey
    </label>

    <input ng-model="id" name="id" />
    <button ng-click="find()">find</button>
</section>

<section>
    <label>
        Where
    </label>
    <input ng-model="wherePart" name="wherePart" />
    <button ng-click="fetch()">fetch</button>
</section>

<section>
    
 <!--  <p ng-bind-html="message | htmlescape"></p>-->
    <div ng-repeat="row in rows">
        <ul>
            <li>{{row.id}}</li>
            <li>{{row.titel}}</li>
            <button ng-click="pushAll(row)">push to all</button>
        </ul>
    </div>
    <p>{{message}}</p>
</section>